<% if user_signed_in? %> 
  <div> Welcome to the Landing Page, <%= current_user.email %> </div> 
  <p>This is where you will see transactions / chart</p>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 

  <%=
  @balances.each do |balance|
    balance
  %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>